@import '../../constants';

.block {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
}

.itemGroup {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  padding: 10px 14px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform ease-out .2s;
  text-decoration: none;
  color: black;

  &:hover {
    transform: scale(1.05);
  }
}

.itemName {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.itemCaption {
  font-size: 13px;
  color: #333;
  margin-top: 2px;
}

.former {
  display: block;
}

@media only screen and (max-width: 530px) {
  .block {
    grid-template-columns: 1fr 1fr;
  }

  .itemGroup {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 370px) {
  .block {
    grid-template-columns: 1fr;
  }
}