.contacts {
    display: grid;
    gap: 40px;
    margin-bottom: 40px;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
}

.contactItemMap {
    margin-bottom: 10px;    
}

.contactItemTitle {
    font-weight: 600;
    font-size: 17px;
    margin: 20px 0;
}

.contactItemInfo {
    margin: 5px 0;
}
