@import '../../constants';

.bullet {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: black;
  text-decoration: none;
  position: relative;
  padding-left: 24px;
  white-space: nowrap;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  margin: 6px 0;
}

.content {
  text-decoration: none;
  color: black;
  display: inline-block;
}
