.presentationArea {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.presentationBlock {
  box-sizing: border-box;
}

.specializationsArea {
  margin-bottom: 20px;
}

@media only screen and (max-width: 530px) {
  .presentationArea {
    grid-template-columns: none;
    grid-template-rows: auto 300px;
  }
}